<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73575438412-m8eksdjrbj6ghe5bjmvrt4a2vav896gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73575438412-m8eksdjrbj6ghe5bjmvrt4a2vav896gs</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPl4OpSo5c28tifSeAx6fxn2nU_pxlUY</string>
	<key>GCM_SENDER_ID</key>
	<string>73575438412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elvaso</string>
	<key>PROJECT_ID</key>
	<string>elvaso-a5001</string>
	<key>STORAGE_BUCKET</key>
	<string>elvaso-a5001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73575438412:ios:2d5e07cd494cd5c09f7ce9</string>
</dict>
</plist>